.paginator {
  height: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  &_btn {
    border: 1px solid rgba(124, 124, 124, 0.35);
    padding: 5px 10px;
    height: 38px;
    line-height: 26px;

    &:first-child {border-radius: 5px 0 0 5px;}
    &:last-child {border-radius: 0 5px 5px 0;}
    &:nth-child(1), &:nth-child(2) {margin-right: -1px;}
    &:nth-child(4), &:nth-child(5) {margin-left: -1px;}

    &:not([disabled="disabled"]):hover {
      color: white !important;
      background-color: #0f74a8;
    }
  }

  &_label {
    padding: 6px 16px;
    border: 1px solid rgba(124, 124, 124, 0.35);
    margin: 0;
  }

  &_input{
    width: 26px;
    height: 24px;
    border: 1px solid #dadada;
  }
}
