input[type=checkbox][name*=fonction], input[type=checkbox][name=cs]{margin: 4px 0 0 !important;}
.padding-btns {padding: 25px 0 10px 0}
.a-categorie, .a-categorie:hover, .a-categorie:visited, .a-categorie:focus {text-decoration: none; color:grey}
.label-birth{padding-left: 10px}

.ul-adherent {
  padding: 0;
  margin-top:20px;

  > li {
    list-style: none;
    border-left: 3px solid #d7d8da;

    > a {
      display: block;
      text-decoration: none;
      color: #848889;
      font-weight: 300;
      font-size: 18px;
      padding: 10px 20px;
    }

    > a:hover {
      color: black;
      background-color: #e8e8e8;
    }

    > li:hover {border-left: 3px solid black;}
  }
}