.table-cotisations {
  td {
    padding-left: 10px !important;
    line-height: 32px !important;
  }

  label{
    width: 100% !important;
    margin: 0!important;
  }
}
.td-id_montant, .td-montant {width: 180px;}
