@media (max-width: 767px){
  .row-calendrier {
    flex-direction: column;
    > .label-compact {width: 50%}
  }

  .td-score{
    font-size: 11px;
    min-width: inherit;
  }

  .btns-categorie { text-align: center; }

  .date-match {
    display: flex;
    align-items: center;
  }

  .span-date {
    span {display: block;}
    text-align: center
  }
}