.row-membreh {
  display: flex;
  align-items: center;

  h2 {flex: 1}
}
/* ------ */
/*  FORM  */
/* ------ */
.membreh-photo {
  height: 150px;
  width: auto;
  margin-bottom: 10px;
}

/* ------------ */
/*  RESPONSIVE  */
/* ------------ */
@media (max-width: 767px){
  .row-membreh{
    flex-direction: column;
  }
}