.row-flex {
  display: flex;
  margin: 10px 0;

  .demi {flex-basis: 50%}
  .tier {flex-basis: 33%}
  .order {flex: 1;}
  > a, > input[type=submit], > button {
    height: 44px;
    min-width: 110px;
  }
}

.row-column {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  > .label-compact { margin-right: 0;}
}
/* --------- */
/*   INPUT   */
/* --------- */
.input-compact {
  border-radius: 4px;
  padding: 18px 6px 6px 6px;
  border: 1px solid #ccc;
  height: 44px;
  width: 100%;
}

.label-compact {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  font-weight: normal !important;
}

.label-input {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 12px;
  color: #868181;
  z-index: 10;
}

.addon-compact {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 42px;
  background-color: gainsboro;
  width: 33px;
  text-align: center;
  line-height: 44px;
  border-radius: 0 4px 4px 0;
}
/* ------------ */
/*   DATALIST   */
/* ------------ */
.datalist-btn {
  width: calc(100% - 30px);
  border-radius: 4px 0 0 4px;
}

.datalist-reset {
  .input-compact {
    width: calc(100% - 30px);
    border-radius: 4px 0 0 4px;
  }

  button {
    height: 44px;
    top: -6px;
    position: relative;
    border-radius: 0 4px 4px 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 0;
  }
}

/* -------- */
/*   TEXT   */
/* -------- */
.text-compact {
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  resize: none;
}

.label-text .input_message{
  top: initial !important;
  left: 10px !important;
  bottom: 10px;
}

/* -------- */
/*   FILE   */
/* -------- */
.label-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal !important;
}

.appercu-img {
  height: 250px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-file {
  margin-left: auto;
  margin-right: auto;
}

.label-file .label-input{
  position: initial;
  font-size: 16px;
  margin: 15px 0;
  color: #000000;
}

.label-file .input_message{
  position: initial;
  text-align: center;
  font-size: 16px;
  margin: 15px 0;
  color: red !important;
}

/* ------------ */
/*  INPUT DATE  */
/* ------------ */
.border-date{
  position: relative;
  margin-right: 15px;
  font-weight: normal !important;
  width: 145px;
  height: 44px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.date-separateur {font-size: 18px}
.border-date input:focus{ outline: none;}
.date-jm{
  padding-left: 10px;
  padding-top: 18px;
  height: 42px;
  width: 32px;
  border: 0;
}

.date-j{ border-radius: 5px 0 0 5px;}
.date-a{
  height: 42px;
  padding-top: 18px;
  border: 0;
  width: 50px;
  border-radius: 0 4px 4px 0;
}

/* ------------- */
/*  INPUT HEURE  */
/* ------------- */
.border-heure {
  position: relative;
  width: 145px;
  height: 44px;
  font-weight: normal !important;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.border-heure input:focus{ outline: none;}
.input-heure{
  padding-left: 10px;
  padding-top: 18px;
  height: 42px;
  width: 60px;
  border: 0;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
}

.input-minute{
  padding-top: 18px;
  height: 42px;
  width: 60px;
  border: 0;
  font-size: 14px;
}

.submit-compact {
  width: 125px;
  margin-right: auto;
  margin-left: auto;
}

.btn-loader {height: 16px}
select {min-width: 150px}
select[disabled] {background-color: #d8d8d8c2;}
#cke_news {height: 100%}
#cke_1_contents{position: relative}

/* --------- */
/*  MESSAGE  */
/* --------- */
.input_message {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 12px;
  color:red !important;
}

.message-cke {
  position: absolute;
  bottom: 0;
  padding: 7px 12px;
  font-size: 12px;
  color:red !important;
}