.menu-inscription {
  width: 255px;
  padding: 10px 10px;
  margin: 0;

  form {
    padding: 10px 10px 0 10px;
    margin: 0;
    width: 100%;
  }
}

.navbar-form>li>a:not(.nav-a) {padding: 7px 15px !important;} /* hauteur des pills */

.navbar-secondaire {
  top: 51px;
  z-index: 1005;
  padding: 0 5px;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}