.nav-news-secondaire {
  display: flex;
  flex-wrap: wrap;
}

.btn-news-modif {
  margin-right: 10px;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
}

.news-title { margin: 15px 0;}

.news-pagination{
  height: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  > a {
    border: 1px solid rgba(124, 124, 124, 0.35);
    padding: 5px 10px;
    height: 38px;
    line-height: 26px;
  }
}

.paginateur-input {
  padding: 6px 16px;
  border: 1px solid rgba(124, 124, 124, 0.35);

  input{
    width: 26px;
    height: 24px;
    border: 1px solid #dadada;
  }
}

.news-pagination a, .news-pagination a:hover, .news-pagination a:visited {text-decoration: none}
.news-pagination > a:first-child{border-radius: 5px 0 0 5px;}
.news-pagination > a:last-child{border-radius: 0 5px 5px 0;}
.news-pagination > a:nth-child(1), .news-pagination > a:nth-child(2){margin-right: -1px;}
.news-pagination > a:nth-child(4), .news-pagination > a:nth-child(5){margin-left: -1px;}

.paginateur-fleche:not(.link-prevent):hover {
  color: white !important;
  background-color: #0f74a8;
}

.link-prevent {
  cursor: default;
  color: white !important;
  background-color: rgba(124, 124, 124, 0.35);
}

.input-news-compact {
  top: 14px !important;
  left: 10px !important;
  height: 10px;
}

.div-mail-news {
  background-color: #96c6c7;
  padding: 20px 0;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.news-affiche {
  height: 250px;
  background-position: center !important;
  background-size: cover !important;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}

.news-header {
  display: inline-block;
  position: absolute;
  left: -1px;
  bottom: 20px;
  background: white;
  border: 1px solid #e7e7e7;
}

.news-header img {
  position: absolute;
  left: 10px;
  top: 10px;
}

.news-content {
  margin: 10px 20px 10px 70px;
  height: 50px;
}

.news-titre {
  font-weight: 700;
  font-size: 17px;
}

.news-info {
  font-size: 12px;
  color: #a0a0a0;
}

/* Modal news */
.modal-news-titre {
  height: 200px;
  background-position: center;
  background-size: cover;
  border: 1px solid #e7e7e7
}

.modal-news-titre span {
  position: absolute;
  left: -1px;
  bottom: 20px;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.90);
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #e7e7e7
}

.close-news {
  position: absolute;
  top: -10px;
  right: 20px;
}

/* -------------- */
/*   RESPONSIVE   */
/* -------------- */
@media (max-width: 767px){
  .news-title{
    order: 1;
    flex: 1;
  }
  .btns-news-modif {
    order: 2;
    flex: 1;
  }
  .news-section { order: 3;}
  .news-pagination {order: 4}
}