/* -------- */
/* Générale */
/* -------- */
html, body {height: 100%;}
body {
  padding-top: 101px;
  overflow-x: hidden;
}

.body-flex {
  display: flex;
  flex-direction: column;

  .container { flex: 1}
}

.heigh_photo {padding-top: 110px !important;}
textarea {resize: none;}
.div-principale{
  position: relative;
  min-height: 100%;
}

.row-pad {
  padding-bottom: 8px;
  padding-top: 8px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom{
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
}

.empty-result {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #5b5b5b;
  margin: 50px 0;
}

.error-result {
  font-size: 17px;
  font-weight: 600;
  color: #d63506;
}

.input-group-select{
  border-radius: 0 3px 3px 0 !important;
  margin-left: -1px;
}

.input-group-left{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.input-rbp {
  height: 44px !important;
  display: inline-block !important;
  vertical-align: middle !important;
  padding-top: 18px;
}

.label-rbp {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  color: #868181;
  z-index: 10;
}

.label-row { left: 28px;}
.flex {flex:1;}
.no-pad{padding: 0;}
.no-marg{margin: 0;}
.strong{font-weight: 700}
.margin-bot{margin-bottom: 10px}
.margin-top{margin-top: 10px}
.margin-right{margin-right: 10px}
.margin-left{margin-left: 10px}
.margin-updown{margin: 10px 0}
.reference{position: relative}
.input-horizontale input{width: 100% !important;}
.no-label{ font-weight: normal !important;}
.input-focus{border-color: #66afe9;}

.xs-icone { height: 20px}

.responsive-modale {
  width: 75%;
  min-width: 600px;
}

/* --------------- */
/* Menu navigation */
/* --------------- */
.nav-link{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

[data-form]>ul{padding: 0;}
.nav-a{padding: 0 !important;}
.nav-a img{height: 34px}
/* -------------- */
/* design message */
/* -------------- */
.message-unique {
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.alert-perma {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

.message-title{
  font-size: 17px;
  font-weight: 600;
}

.message-close{
  position: absolute;
  top: calc(50% - 12px);
  right: 10px;
  font-size: 21px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}

.message-close:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

/* ---------- */
/* principale */
/* ---------- */
.contenu {
  min-height: calc(100% - 30px);
  position: relative;
  padding-bottom: 30px;
}

.contenu-photo {
  min-height: calc(100% - 30px) !important;
}

.no-sectionBarre{
  min-height: calc(100% - 50px) !important;
  padding-top: 50px !important;
}

.parallax-cont {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-bottom: 3px solid white;
  background: 0 50px no-repeat fixed;
  background-size: cover;
}

.parallax-ios {
  background: no-repeat;
  background-size: cover;
}

.article {
  position: absolute;
  top: 0;
  min-height: 450px;
  background: rgba(255, 255, 255, 0.76);
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 2%;
}
.svg {
  position: absolute;
  height: 100%;
}

.left-svg{
  margin-left: 100%;
  left:-1px;
}
.right-svg {
  margin-right: 100%;
  right: -1px;
}

.side {
  height: 100%;
  width: 30%;
  background: white;
  text-align: center;
}

.side-right {
  position: absolute;
  right: 0;
}

.side-intitule {
  height: calc(50% + 100px);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.side-photo {margin-bottom: 5px}
.side-intitule a {color: black; margin:10px 0;}
.side-intitule a:hover{color: black; text-decoration: none;}

.article-btn {
  padding: 10px 30px;
  border-radius: 6px;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.article-h {
  display: block;
  font-size: 35px;
  font-weight: 600;
}

.path-article {fill: #ffffff;}

.btn-close {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 1%;
  right: 1%;
  font-size: 21px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.7;
  z-index: 500;
}

.btn-close :hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

.btn-modif-right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-modif-left {
  position: absolute;
  top: 5px;
  left: 5px;
}

.col-right-item {
  position: absolute;
  top: 10px;
  right: 15px;
}

.bold{
  font-weight: bold;
  color: black;
}

.coupe {
  background-color: #fbda85;
}

.red td{
  color: #d05858;
  font-weight: bold;
}

.grey td{ color: #929292;}



/* Tableau */
table {margin: auto;}

table th{
  font-size: 13px;
  background: #000000;
  border-top: 4px solid #000000;
  color: #ffffff;
  padding: 5px 15px;
}

table td {
  background: white;
  border-bottom: 1px solid lightgrey;
  color:#3e3a3a;
  border-top: 1px solid transparent;
  padding: 5px 15px;
}

table tr:hover td{
  background: #e7e7e7;
  color:#000000;
}

/* ---------- */
/*    CLUB    */
/* ---------- */
.margin-dl{margin-top: 7px;}
.img_membre_h {
  max-height: 250px;
  margin-top: 25px !important;
  margin-bottom: 50px !important;
}

/* ------------------- */
/* Natation - plongeon */
/* ------------------- */
.piscine_add {
  position: absolute;
  top: 0;
  right: 10px;
}

.label-fichier{margin-left: 5px}

/* ---------- */
/* Water-polo */
/* ---------- */
.radio-match{width: 58px}
.btn-report{padding: 1px 10px}
.td-score{
  position: relative;
  min-width: 99px
}
.input_score{
  width: 25px !important;
  height: 22px;
  padding: 1px !important;
  text-align: center;
}
.btn-valide{
  position: absolute;
  right: 0;
  top: 6px;
}
.td-modif a{margin-right: 10px}
#wp_calendrier td{cursor: pointer}

.table-piscine{width: 100%}
.tr-piscine-modif{width: 160px}

/* --------------- */
/*    SPONSORS     */
/* --------------- */
.logo-sponsor {height: 150px}
.div-sponsor {height: calc(100% - 20px);}

/* --------------- */
/*     ADHERENT    */
/* --------------- */
.label-fonction{width: 125px !important;}

/* ----------------- */
/* animation article */
/* ----------------- */
.pos-right {
  transform: translateX(1750px);
  transition-duration: 0.3s;
}

.pos-left {
  transform: translateX(-1750px);
  transition-duration: 0.3s;
}

.pos-center{
  transform: translateX(0);
  transition-duration: 0.5s;
}
.bg-primary {
  padding: 5px;
  margin-bottom: 15px;
}

.bg-success {
  padding: 5px;
}

input {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-aligne {
  line-height: normal;
}

.ul-match{
  list-style-type:none;
}

/* -------------- */
/*    DROPZONE    */
/* -------------- */
.dz-btn-ask {
  width: 120px;
  margin-top: 5px;
}

.dz-btn-confirme {
  width: 58px;
  margin-top: 5px;
}

.dz-preview:hover .dz-image img{
  -webkit-filter: blur(0) !important;
  filter: blur(0) !important;
}
/* Accueil */
.image-accueil{
  background-color: #337ab7;
  padding: 2px;
  border-radius: 5px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {

  width: 70%;
  margin: auto;
}

/* Menu */
.dropdown-menu strong{
  margin-bottom: 5px;
  display: block;
}

.dropdown-menu li:not(.divider){

  display: inline-block;
  width: 100%;
}

/*Custom section*/
.h-section {
  margin: 0;
  line-height: 50px;
}

/* input dans h section*/
.input-h { margin-top: 8px;}

/*---------*/
.message-unique{
  z-index: 1006;
  position: fixed;
  top: 51px;
  left: 0;
  width: 100%;
  text-align: center;

}

.btn-image-custom{
  display: none;
  position: absolute;
  bottom: 40px;
  left: 41%;
}

.img-responsive {
  margin: 0 auto;
}

.image-modif{
  width: 100%;
  text-align: center;
  position: relative;
  top: -60px;
}

.span-image-modif{
  background: gray;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 6px;
}

.custom-image:hover img {
  opacity: .7;
}

.custom-image:hover p {
  display: block;
}

.message-unique button{

  position: absolute;
  top: 6px;
  left: 10px;
}

/* Adherent add */
.h4-size{
  height: 40px;
  line-height: 29px;
  margin-top: 20px;
}

.btn-position{
  position: absolute;
  right: 20px;
}

.h-input{
  font-weight: normal !important;
  font-size: initial;
}

input[type=checkbox]{
  margin: 0;
}

/* competition */
.add-fichier{
  cursor: pointer;
  width: 100%;
}

/* Water-polo - Form Match*/
#select-categorie{
  left:1px;
  width: auto;
}

#select-saison{
  border-radius: 0;
  width: auto;
}

.btn-categorie {margin-right: 2px}
.btn-modif-match {border-radius: 4px 0 0 4px;}

.link-none:hover {
  cursor: default;
  text-decoration: none;
  color: #929292
}

.resume_match {
  height: 200px !important;
}

.legend-color{
  display: inline-block;
  width: 25px;
  border: 2px solid #d05858;
  position: relative;
  bottom: 2px;
  margin-right: 10px;
}

/* Color */
a[data-change] {margin-left: 7px}
.color-1 {background-color: #337ab7;}
.color-2 {background-color: rgb(68, 157, 68);}
.color-3 {background-color: rgb(49, 176, 213);}
.color-4 {background-color: rgb(236, 151, 31);}
.color-grey { background-color: #dadada;}
.input_valide{border: 1px solid #8cd453 !important;}
.input_erreur {border: 1px solid red !important;}

.btn_valide{
  border: 1px solid #8cd453;
  color: #63bf51;
  font-weight: 700;
}

.btn_erreur {
  background-color: #ff8f77;
  border: 1px solid red;;
}

/* -------------- */
/*   BOOTSTRAPE   */
/* -------------- */
.item img {width: 100% !important;} /* image dans le caroussel */

.modal-header{
  border: none;
  padding-bottom: 0;
} /* Suppression de la ligne du bas sur les modals*/

/* ------------- */
/* Media queries */
/* ------------- */
/* Générale */
@media (max-width: 767px){
  .contenu {margin-top: 51px}
  table td {padding: 5px 10px;}
}

/* article */
@media (max-width: 740px){
  body{padding-top: 52px}

  .parallax-cont {
    background: no-repeat;
    background-size: cover;
    height: 50%;
  }

  .div-sponsor{height: auto;}
  .side{width: 40%;}
  .side-intitule {height: 60%}
  .article-btn{
    padding: 5px 20px;
    font-size: 10px;
  }

  .article {
    width: 98%;
    margin: 1%;
  }
  .article-h{font-size: 18px}
}

@media (max-width: 1000px) {
  .navbar-header {float: none;}
  .navbar-toggle {display: block;}
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {display: none!important;}
  .navbar-nav {
    float: none!important;
    margin: 7px -15px;
  }
  .navbar-nav>li {float: none;}
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  .navbar-collapse.collapse.in {display: block!important;}
  .collapsing {overflow: hidden!important; }

  .navbar-form{
    margin: 0;
    border-bottom: none;
  }

  .nav-xs{padding-top:117px}
  .titre-news{position: inherit}
  .news-titre{font-size: 13px}
}

@media (max-width: 1000px) {
  .navbar-brand {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggle{margin-right: 0;}
  .nav>li>a{padding: 10px;}
  .nav>li{margin-left: 0 !important;}
}

@media (min-width: 767px){
  .modal-news{width: 80%}
}

@import "_adherent.scss";
@import "_adherent_fiche.scss";
@import "_club.scss";
@import "_competition.scss";
@import "_contact.scss";
@import "_cotisation.scss";
@import "_form.scss";
@import "_maintenance.scss";
@import "_membre.scss";
@import "_membreh_manage.scss";
@import "_navbar.scss";
@import "_news.scss";
@import "_photo.scss";
@import "_piscine.scss";
@import "_waterpolo.scss";
