$primary: #1745fd;
$secondary: #ffbd13;
$blue-gray: #7e91b2;

$white: #FFFFFF;
$light-gray: #f4f6ff;
$gray: #bcbfc2;
$dark-gray: #7f7f83;
$dark: #1f2932;

$turquoise : #17a2b8;

$danger : #c93545;
$warning : #fdf213;
$success : #49cb54;
$infos : #5da2f6;

$full_screen: calc(100vh - 65px);

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
